* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nome {
  width: 200px;
}

.nome_1 {
  width: 200px;
}

footer {
  text-align: center;
}

a:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: 0.5s;
}

/* Responsividade */

@media (max-width: 1024px) {
  @media (min-width: 100px) {
    .cabecalho {
      display: none;
    }

    .nome {
      display: none;
    }
  }
}

@media (max-width: 2822px) {
  @media (min-width: 1100px) {
    .nome {
      display: inline-block;
    }

    .cabecalho {
      display: flex;
      flex-wrap: nowrap;
      align-self: center;
    }

    .cabecalho_2 {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .cabecalho {
    display: none;
  }

  .nome {
    display: none;
  }
}
