:root {
  --primary: rgba(240, 205, 108, 0.9);
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body{
    

}

header {
    


}

.nome {}

.cabeçalho {
    
} */
/* .trabalhos{
    text-align: center;
} */

.cards_trabalhos {
  text-align: center;
  align-items: center;
}

footer {
  text-align: center;
}

a:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: 0.5s;
}

/* Responsividade */

@media (max-width: 1024px) {
  @media (min-width: 100px) {
    .cabecalho {
      display: none;
    }

    .nome {
      display: none;
    }
  }
}

@media (max-width: 2560px) {
  @media (min-width: 1100px) {
    .nome {
      display: inline-block;
    }

    .cabecalho {
      display: flex;
      flex-wrap: nowrap;
      align-self: center;
    }

    .cabecalho_2 {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .cabecalho {
    display: none;
  }

  .nome {
    display: none;
  }
}
