:root {
  --primary: rgba(240, 205, 108, 0.9);
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body{
    

}

header {
    


}

.nome {}

.cabeçalho {
    
} */
/* .trabalhos{
    text-align: center;
} */

.cards_trabalhos {
  text-align: center;
  align-items: center;
}

footer {
  text-align: center;
}

/* Responsividade */

@media (max-width: 414px) {
  .cabecalho {
    display: none;
  }

  .nome {
    display: none;
  }
}

@media (min-width: 750px) {
  .cabecalho {
    display: none;
  }

  .nome {
    display: none;
  }
}

@media (min-width: 540px) {
  .cabecalho {
    display: none;
  }

  .nome {
    display: none;
  }
}

@media (max-width: 2560px) {
  @media (min-width: 1100px) {
    .nome {
      display: inline-block;
    }

    .cabecalho {
      display: flex;
      flex-wrap: nowrap;
    }

    .cabecalho_2 {
      display: none;
    }
  }
}
